* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
}

.post {
    margin: auto;
    background-color: white;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;  
    align-items: stretch;
}

.post-header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-icon {
    height: 80%;
    font-size: 1.7em;
    margin: 4px 4px 0px 8px;
    align-self: center;
}

.plain-text{
    height: 80%;
    flex-grow: 1;
    padding: 8px 10px 0px 10px;
    font-size: 
    align-self: flex-start;
}

.second-icon{
    margin: 8px 15px 8px 0px;
    font-size: 1.7em;
    align-self: center;
}

img {
    width: 100%;
    
}

.buttons {
    width: 100%;
    height: 7%;
    display: flex;
    
}

.heart {
   height: 80%;
   align-self: center;
   font-size: 1.5em;
   margin: 4px 4px 0px 8px;
 
}

.comment {
   height: 80%;
   align-self: center;
   font-size: 1.5em;
   margin: 4px 4px 0px 8px;
}

.paper {
   height: 80%;
   width: 80%;
   align-self: center;
   font-size: 1.5em;
   margin: 4px 4px 0px 8px;
}

.save{
    margin: 8px 15px 8px 0px;
    align-self: center;
    font-size: 1.5em;
}
.caption { 
    width: 100%;
    height: 30%;
    padding: 5px;
    font-size: 1em;
}
   